input {
    margin-bottom: 16px;
  }
  
  label {
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  form {
    margin-top: 10rem;
  }
  
  button {
    width: 200px;
  }

  .bottom {
    position: fixed;
    bottom: 0;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  
  .image-style {
    height: 250px;
    border: 5px solid rgb(19, 127, 135);
  }
  
  @media screen and (max-height: 555px) {

    .bottom {
      display: none;
    }
  }