
.scores-table {
    margin-top: 10rem;
    margin-bottom: 5rem;
    /* opacity: 0.90; */
  }

  .hs-image {
    background-image: url('~/public/resources/cup.jpeg');
    background-position: center center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size:auto;  
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    opacity: 0.8;
  }
  
  #profile_pic {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-items: center;
  }

  /* .col-color {
    background-color: white;
    height: 100vh;
  
  } */
 
