
.scores-table {
    margin-top: 15rem;
    margin-bottom: 5rem;
    opacity: 0.90;
  }

  .hs-image {
    background-image: url('~/public/resources/screenshot.png');
    background-repeat: no-repeat;
    background-size: cover;  
  }
  
  #profile_pic {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-items: center;
  }

 
