#profile_pic {
    background-image: url('~/public/resources/alert.jpg');
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 15px;
}

.modal-header {
    font-size: 20px;
}

.latestScore{
    text-align: center;
    margin-top: 2rem;
}